<% if object.errors.any? %>
	<div class="alert alert-error"><%= t('simple_form.error_notification.default_message', :count => object.errors.count) %>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
