<%- if devise_mapping.omniauthable? %>
  <div class='box'>
  <h4> 授权认证登录</h4>
  <%- resource_class.omniauth_providers.each do |provider| %>
	  <%= omniauth_link(resource_name, provider) %>
  <% end -%>
  </div>
<% end -%>
