<div class='pull-right'><span title='评论'><%= favable.comments_count %></span></div>
<div class='info'>
	<div><%= link_to favable.title, user_favable_path(favable) %></div>
	<div><span><%= favable.user.nickname %></span></div>
</div>

