/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 * require jquery.ui.all
 * require jquery-ui-timepicker-addon
 *= require bootstrap-editable
 *= require bootstrap-wysihtml5
 *= require social-share-button
 *= require_tree .
 */

body {
	/*padding-top: 40px;*/
}
.word-wrap {
	word-wrap: break-word;
}
.ui_tpicker_timezone select {
	width: 120px;
}
#editor {overflow:scroll; max-height:300px}
#div_editor {overflow:scroll; max-height:300px}
#item_description {
	width: 650px;
	height: 200px;
	overflow:scroll; 
	max-height:300px
}
.btn-social {
	background-color: #DD4B39;
	background-image: none;
}
div.set_color {
	background-color: #e2e2e2;
}

.navbar.navbar-inverse {
	margin-bottom: 0px;
}
.navbar .navbar-inner .container {
	width: 1170px;
}

.box.tab-content.user-info, 
.box.white {
    padding: 5px;
}
.box {
	margin-bottom: 20px;
}

.alert {
  margin-left: 30px;
}

footer p {
  text-align: center;
  margin-top: 10px;
}
