<p>您好, <%= @resource.email %>!</p>

<p>您有一个修改密码的请求链接。请点击以下链接修改密码。</p>

<p><%= link_to '修改密码', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>不想修改密码，忽略此邮件。</p>
<p>密码只有您点击以上链接并创建新密码时才被修改。</p>
